useDynLib(psmcr, .registration = TRUE)

export(import.psmc, psmc, seqBinning, VCF2DNAbin)

importFrom(ape, read.FASTA)
importFrom(graphics, lines, mtext, plot, points)
importFrom(grDevices, col2rgb, rgb)
importFrom(parallel, mclapply)

S3method(lines, psmc)
S3method(logLik, psmc)
S3method(plot, psmc)
S3method(print, psmc)
